<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepagestyle.css') }}">
</head>
    <body>
    <h2 align="center">cart page</h2>
        <table id ="product-details">

        </table>
    </div>
        <div id="button">
   <button onclick="addcart()">add-to-cart</button>
            <button onclick="delete_item()">Delete</button>
            <button onclick="update()">update</button>
            <button onclick="view()">view cart</button>
        </div>
        <div>
    <script>
    var user=localStorage.getItem('user_id');
fetch("url:http://127.0.0.1:5000/cart/"+user)

    .then(response => response.json())
    .then(json => {

        let li = `<tr><th>Name</th><th>price</th></tr><th>seller name</th></tr>`;

        json.forEach(product => {
            li += `<tr>
                <td>${product.name}</td>
                <td>${product.price}</td>
                <td>${product.description}</td>
            </tr>`;
        });
    document.getElementById("product-details").innerHTML = li;
});

    function view(){
 var user=localStorage.getItem('user_id');
fetch("url:http://127.0.0.1:5000/cart/"+user)

    .then(response => response.json())
    .then(json => {

        let li = `<tr><th>Name</th><th>quantity</th></tr>`;

        json.forEach(cart => {
            li += `<tr>
                <td>${cart.name}</td>
                <td>${cart.quantity}</td>
            </tr>`;
        });
    document.getElementById("product-details").innerHTML = li;
});

    function addcart(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    $.ajax({url:"http://127.0.0.1:5000/cart",
    data:{
    item_id:id,
    user_id:user,
    quantity:'1'},
    type:'POST',
    success:function(data){
    alert(data);
    }
    });
    }
    function delete_item(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    console.log(user);
    $.ajax({url:'http://127.0.0.1:5000/cart/'+id,
    data:{
    user_identity:user},
    type:'DELETE',
    success:function(data){
    alert(data);
    }
    });
    }
    function update(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    $.ajax({url:"http://127.0.0.1:5000/cart",
    data:{
    item_identity:id,
    user_identity:user,
    desired_quantity:'6'},
    type:'PUT',
    success:function(data){
    alert(data);
    }
    });
    }
function view(){
 var user=localStorage.getItem('user_id');
fetch("url:http://127.0.0.1:5000/cart/"+user)

    .then(response => response.json())
    .then(json => {

        let li = `<tr><th>Name</th><th>quantity</th></tr>`;

        json.forEach(cart => {
            li += `<tr>
                <td>${cart.name}</td>
                <td>${cart.quantity}</td>
            </tr>`;
        });
    document.getElementById("product-details").innerHTML = li;
});
</script>
    </body>
</html>