<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
<head>
</head>
    <body>
        <div id="button">
   <button onclick="addcart()">add-to-cart</button>
</div>
        <div>
            <button onclick="delete_item()">Delete</button>
        </div>
        <div>
<button onclick="update()">update</button>
    <label for="cars">select quantity:</label>
  <select name="cars" id="cars">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
  </select>
  <br><br>
        </div>
    <script>
    function addcart(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    $.ajax({url:"http://127.0.0.1:5000/cart",
    data:{
    item_id:id,
    user_id:user,
    quantity:'1'},
    type:'POST',
    success:function(data){
    alert(data);
    }
    });
    }
    function delete_item(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    console.log(user);
    $.ajax({url:'http://127.0.0.1:5000/cart/'+id,
    data:{
    user_identity:user},
    type:'DELETE',
    success:function(data){
    alert(data);
    }
    });
    }
    function update(){
    var id=localStorage.getItem('details.id');
    var user=localStorage.getItem('user_id');
    $.ajax({url:"http://127.0.0.1:5000/cart",
    data:{
    item_identity:id,
    user_identity:user,
    desired_quantity:'6'},
    type:'PUT',
    success:function(data){
    alert(data);
    }
    });
    }

     </script>
    </body>
</html>