<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button onclick="categories()">categories</button>
    <label id="demo"></label>
<script>
   function categories() {
    const url = 'http://127.0.0.1:5000/categories'
    fetch(url)
    .then(response => response.json())
    .then(json => {
        console.log(json);
        document.getElementById("demo").innerHTML = JSON.stringify(json)
    })
}
</script>
</body>
</html>
