<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body bgcolor="teal">
<br>
<h3 align="center">you have logged in as {{name}}</h3>
<div id="storage"></div>
<script>
    let user_obj={
    user_id : "{{user_id}}",
    token:"{{token}}"
    };
    let user_obj_serialized=JSON.stringify(user_obj);
    localStorage.setItem("user_obj",user_obj_serialized)
    console.log(user_obj_serialized);
    let user_obj_deserialized = JSON.parse(localStorage.getItem("user_obj"));
    x=user_obj_deserialized.user_id;
    y=user_obj_deserialized.token;
    console.log(x);
    console.log(y);
</script>
<div>
    <ul id="category" class="category_items"></ul>
</div>
<div>
    <ol id="items"></ol>
</div>
<div>
    <ul id="item_details"></ul>
</div>
<div>
    <table id="details"></table>
</div>
<script>


fetch("http://127.0.0.1:5000/categories")
.then(response => response.json())
.then(json => {
    let ul ='<ul>';
    json.forEach(category => {
    var category_id= category.id;
     ul +='<br><li id="'+category_id+'">'+category.name+ '</a>';

});
document.getElementById("category").innerHTML = ul;
});
 document.getElementsByTagName('ul')[0].addEventListener("click",function(event){
 console.log('event',event.target.id);
 fetch('http://127.0.0.1:5000/categories/'+event.target.id)
 .then(response => response.json())
 .then(json=> {
     let ol ='<ol>';
     json.forEach(category_items => {
        ol +='<br><li id="'+category_items.id+'">'+category_items.name+ '</a>';
     });
     document.getElementById("items").innerHTML=ol;
 });
 document.getElementsByTagName('ol')[0].addEventListener("click",function(event){
 console.log('event',event.target.id);
 fetch('http://127.0.0.1:5000/items/'+event.target.id)
    .then(response => response.json())
    .then(json => {
        let li = `<tr><th>Name</th><th>price</th><th>description</th></tr>`;
        json.forEach(details=>{
            li += `<tr>
                <td>${details.name} </td>
                <td>${details.price}</td>
                <td>${details.description}</td>
            </tr>`;
        });

        document.getElementById('details').innerHTML=li;

    });



 });
 });
</script></body>
</html>