<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body bgcolor="teal">
<br>
<h3 align="center">you have logged in as {{name}}</h3>
<div>
    <table id="users" onclick="get_items()"></table></div>
<div>
<table id="demo" onclick="get_details()"></table>
</div>
<div>
    <table id="item"></table>
</div>
<script>
fetch("http://127.0.0.1:5000/categories")
.then(response => response.json())
.then(json => {
    let ul ='<ul>';
    json.forEach(category => {
    var category_id= category.id;
     ul +='<br><li id="'+category_id+'">'+category.name+ '</a>';

});
document.getElementById("users").innerHTML = ul;
});
 document.getElementsByTagName('ul')[0].addEventListener("click",function(event){
 console.log('event',event.target.id);
 fetch('http://127.0.0.1:5000/categories/'+event.target.id)
 .then(response => response.json())
 .then(json=> {
     let ul ='<ul>';
     json.forEach(category_items => {
        ul +='<br><li id="'+category_items.id+'">'+category_items.name+ '</a>';
     });
     document.getElementById("items").innerHTML=ul;
 });

 });

</script></body>
</html>