<!DOCTYPE html>
<html>
    <head>
        <title>products</title>
    </head>
    <body>
        <h2 align="center">products page</h2>
        <table border="1" align="center" cellspacing="1", cellpadding="20">
            <tr align="center">
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                    <button>Add to cart</button>
                </td>
                <td>
                    <img src="butterfly.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                    <button>Add to cart</button>
                </td>
                <td>
                    <img src="butterfly.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                </tr><br>
                <tr align="center">
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>

                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
                <td>
                    <img src="wooden.jfif" width="100px" height="100px">
                    <p>product1</p>
                    <p>product price:200</p>
                </td>
            </tr>
  

        </table>
    </body>
</html>